<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace是对应的mapper接口文件 -->
<mapper namespace="com.cqut.dao.ContactMapper" >
  <insert id="addContact" parameterType="com.cqut.dao.model.Contact"><!-- 添加紧急联系人信息 -->
  	insert into contact(ctName,ctGender,ctPhone,ctTitle,ctMemo,cusNo)
  	 values(#{ctName}, #{ctGender},#{ctPhone},#{ctTitle},#{ctMemo},#{cusNo})
  </insert>
  <select id="selectAllContact" resultType="com.cqut.dao.model.Contact"><!-- 更具ID好查询社员紧急联系人信息 -->
  		select * from contact where cusNo=#{cusNo}
  </select>
   <delete id="deleteContact"><!-- 删除社员的额紧急联系人信息 -->
  		delete from contact where ctId=#{ctId}
  </delete>
</mapper>