<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace是对应的mapper接口文件 -->
<mapper namespace="com.cqut.dao.ServiceMapper" >

   <insert id="insertService" parameterType="com.cqut.dao.model.Servicett">
  	insert into service(serTitle,serType,serMemo,serAddress,serManager,serPhone,serApprover,cusProposer,serMatching,serDate,serDeadline)
  	 values(#{serTitle},#{serType},#{serMemo},#{serAddress},#{serManager},#{serPhone},#{serApprover},#{cusProposer},#{serMatching},#{serDate},#{serDeadline})
  </insert>
  
  <select id="selectAllService" resultType="com.cqut.dao.model.Servicett">
  	select serId, serTitle,serType,serMemo,serAddress,serManager,serPhone,serApprover,cusProposer,serMatching,serDate,serDeadline from service
  </select>
  
  <delete id="deleteService">
  	delete from service where serId=#{serId}
  </delete>
  
  <update id="updateService" parameterType="com.cqut.dao.model.Servicett">
     update service set serTitle=#{serTitle},serType=#{serType}, serMemo=#{serMemo}, serAddress=#{serAddress},serManager=#{serManager},   serPhone=#{serPhone},
     serApprover=#{serApprover},cusProposer=#{cusProposer},serMatching=#{serMatching},
     serDeadline=#{serDeadline}
     where serId=#{serId}
  </update>

</mapper>